

<div>
  <label>Which Category Do You Want to See?:</label>
  <br>
  <select class="categoryOption" (change)="onChange($event.target.value)">
    <option value="Animals"> Animals </option>
    <option value="Medical"> Medical </option>
    <option value="Volunteer"> Volunteer </option>
    <option value="Business"> Business </option>
    <option value="Charity"> Charity </option>
    <option value="Travel"> Travel </option>
    <option value="Family"> Family </option>
    <option value="Creative"> Creative </option>
    <option value="Other"> Other </option>
    <option value="All Fundraisers" selected="selected"> All </option>
  </select>
</div>

<div *ngFor="let fundraiser of fundraisers | async | group:filterByCategory" (click)="goToDetailPage(fundraiser)" class="panel panel-default">
    <div class="panel-body shadow">
      <h3><em>{{fundraiser.title}}</em></h3>
      <p> by {{fundraiser.name}}</p>
    </div>
    <div *ngIf="currentRoute === '/admin'">
      {{fundraiser.description}}
      <hr>
      <app-edit-fundraiser [selectedFundraiser]="fundraiser"></app-edit-fundraiser>
    </div>
</div>
