<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Edit This Fundraiser</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>New Fundraiser Title:</label>
        <input [(ngModel)]="selectedFundraiser.title">
        <br>

        <label>New Fundraiser Name:</label>
        <input [(ngModel)]="selectedFundraiser.name">
        <br>

        <label>New Fundraiser Category:</label>
        <select [(ngModel)]="selectedFundraiser.category">
          <option [value]="Animals"> Animals </option>
          <option [value]="Medical"> Medical </option>
          <option [value]="Volunteer"> Volunteer </option>
          <option [value]="Business"> Business </option>
          <option [value]="Charity"> Charity </option>
          <option [value]="Travel"> Travel </option>
          <option [value]="Family"> Family </option>
          <option [value]="Creative"> Creative </option>
          <option [value]="Other"> Other </option>
        </select>
        <br>

        <label>New Fundraiser Description:</label>
        <textarea [(ngModel)]="selectedFundraiser.description"></textarea>
        <br>

        <label>New Fundraiser Goal:</label>
        <input [(ngModel)]="selectedFundraiser.goal">
        <br>

        <button (click)="beginUpdatingFundraiser(selectedFundraiser)">Update</button>
      </div>
    </div>
