<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add a New Fundraiser</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>Title:</label>
        <br>
        <input class="form-control" #newTitle>
      </div>
      <br>
      <div>
        <label>Name:</label>
        <br>
        <input class="form-control" #newName>
      </div>
      <br>
      <div>
        <label>Category:</label>
        <br>
        <select class="form-control" #newCategory>
          <option [value]="Animals"> Animals </option>
          <option [value]="Medical"> Medical </option>
          <option [value]="Volunteer"> Volunteer </option>
          <option [value]="Business"> Business </option>
          <option [value]="Charity"> Charity </option>
          <option [value]="Travel"> Travel </option>
          <option [value]="Family"> Family </option>
          <option [value]="Creative"> Creative </option>
          <option [value]="Other"> Other </option>
        </select>
      </div>
      <br>
      <div>
        <label>Description:</label>
        <br>
        <textarea class="form-control" #newDescription></textarea>
      </div>
      <br>
      <div>
        <label>Goal:</label>
        <br>
        <input class="form-control" #newGoal>
      </div>
      <br>
      <div>
        <label>Image URL:</label>
        <br>
        <input class="form-control" #newImage>
      </div>
      <br>
      <button class="btn btn-primary" (click)="submitForm(newTitle.value, newName.value, newCategory.value, newDescription.value, newGoal.value, newImage.value); newTitle.value=''; newName.value=''; newCategory.value=''; newDescription.value=''; newGoal.value=''; newImage.value=''">Add</button>
    </div>
  </div>
</div>
<div>
  <app-fundraiser></app-fundraiser>
</div>
